* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10em;
    margin-right: 10em;
}
.head {
    height: 6em;
    background-color: #e579e6;
    margin-top: 2em;
    margin-bottom: 1em;
}

.banner {
    background-color: #e1d67a;
    height: 20em;
    margin-bottom: 1em;
}

.middle {
    background-color: #0086ff;
    height: 30em;
}

.header-middle, .left-bar,
.center, .right-bar {
    background-color: #abcfe7;
}

.header-middle {
    height: 4em;
    margin-bottom: .8em;
}

.left-bar {
    width: 25%;
    height: 24em ;
    margin-bottom: .8em;
    float: left;
    margin-right: 1em;
}

.right-bar {
    width: 25%;
    height: 24em ;
    margin-bottom: .8em;
    margin-left: 1em;
    float: right;
}

.center {
    width: calc(50% - 2em);
    height: 24em;
    margin-bottom: .8em;
    float: left;
}

.foot {
    background-color: #8801fe;
    height: 3em;
    margin-top: .6em;
    margin-bottom: 1.3em;
}

